* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Open Sans;
    background-image: url(images/city-wien1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* Header fixiert */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0a0a0a;
    padding: 1rem;
    color: antiquewhite;
    z-index: 1000; /* Header über anderen Inhalten im Vordergrund */
  }
  
  /* Abstand für den fixierten Header */
  main {
    padding-top: 80px;
  }
  
  /* Container */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
  }
  
  /* Titel */
  .title {
    font-size: 3.5rem;
  }
  
  /* Navbar */
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.8rem;
    padding: 15px;
    text-align: center;
  }
  
  .navbar a:hover {
    color: rgb(218, 144, 7);
    font-weight: bold;
  }
    
  /* Responsive Nav-Mobile */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Zeigt die Elemente li untereinander */
    .navbar ul {
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  }
  